<!--This page displays the mission information
    Info is passed into this view through the ViewBag-->
@*@model MissionSite.Models.MissionQuestion*@
@model IEnumerable<MissionSite.Models.MissionQuestion>

@{
    ViewBag.Title = "MissionView";
}

<link href="~/myCSS/StyleSheet3.css" rel="stylesheet" />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Home/Mission">Mission</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.MissionName</li>
    </ol>
</nav>

<!--This is the background image-->
<body background="~/Graphics/WorldMap.jpg" class="main">
</body>


<!--This passes all of the informaiton into the first info box-->
<div class="jumbotron">
    <h2><u>@ViewBag.Mission.MissionName</u></h2>
    <div class="row">
        <div class="column">
            <p>Official Mission Name: @ViewBag.Mission.MissionName</p>
            <p>Mission President Name: @ViewBag.Mission.MissionPresident</p>
            <p>Mission Office Address: @ViewBag.Mission.MissionAddress</p>
            <p>Mission Language: @ViewBag.Mission.Language</p>
            <p>Mission Climate: @ViewBag.Mission.Climate</p>
            <p>Dominant Regional Religion: @ViewBag.Mission.DominantReligion</p>
        </div>
        @*<div class="column">
                <img src="@ViewBag.Symbol" alt="Alternate Text" />
            </div>*@
    </div>
</div>


<!--this box contains FAQ's along with an input box for users to answer any questions-->
<div class="jumbotron">

    @foreach (var item in Model)
    {      
        <h2>FAQ's</h2>
        <p>Q: @item.Question</p>
        <p>Latest Answer: @item.Answer </p>

        using (Html.BeginForm("Reply", "Home"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <p>
                Can you answer this Question?
                <br />
                
                    @Html.ActionLink("Reply", "Reply", "Home", new { id = item.MissionQuestionID}, null)                
                
                @*<input type="submit" value="Submit"/>*@
            </p>
        }
    }  
</div>


<!--This box contains an input box for questions to be asked-->
<div class="jumbotron">

    @using (Html.BeginForm())

    {@Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <p>
        Leave a Question for others to answer.
        <br />
        @Html.ActionLink("Post Question", "PostQuestion", "Home")
    </p>
    @*<input type="submit" value="Submit Question" />*@
}
</div>
