
@{
    ViewBag.Title = "ProvoNorth";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Home/Mission">Mission</a></li>
        <li class="breadcrumb-item active" aria-current="page">Provo North</li>
    </ol>
</nav>
<h2>ProvoSouth</h2>
<p>@ViewBag.MissionName</p>
<p>@ViewBag.PresidentName</p>
<p>@ViewBag.MissionAddress</p>
<p>@ViewBag.Language</p>
<p>@ViewBag.DominantReligion</p>
<p>@ViewBag.Symbol</p>


